@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

html, body {
    --hue: var(--hue-neutral);
    background-color: #ffffff;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    color: #212121;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
}

h3 {
    font-family: "Calibri", "Georgia", "Times New Roman", Times, serif;
    color: #333333;
    margin-left: 10px;
    text-align: left;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    font-size: 28px;
}

h5 {
    font-family: "Calibri", Verdana, "Geneva", sans-serif;;
    color: #212121;
    margin-left: 10px;
    text-align: center;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    font-size: 20px;
}

/* These rules take effect when the browser's width */
/* is either 225px or more. */
@media screen and (min-width: 225px) {
    /* The body background color will be #ff0000 */
    body {
        background-color: #ff0000;
    }

    /* The container width will be 225px */
    .container,
    .footer {
        width: 100%;
    }

    .form-group,
    .form-control {
        font-size: 12px;
    }
    p {
        font-size: 16px;
        line-height: 100%;
        text-align: justify;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
}
/* These rules take effect when the browser's width */
/* is either 320px or more. */
@media screen and (min-width: 320px) {
    /* The body's bg color will be #4caf50 */
    body {
      background-color: #4caf50;
    } */
    
    h1 {
        text-align: left;
    }

    .logoImage {
        width: 250px;
        height: 60px;
    }

    /* The container width will be 576px */
    .container {
      width: 100%;
    }
    p {
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
    .labelText {
        font-size: 20px;
    }
}
/* These rules take effect when the browser's width */
/* is either 576px or more. */
@media screen and (min-width: 576px) { */
    /* The body's bg color will be #fca203 */
    body {
      background-color: #fca203;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
        line-height: 115%;
        text-align: justify;
    }

    .logoImage {
        width: 300px;
        height: 70px;
    }

    .form-group,
    .form-control {
        font-size: 8px;
    }
    .navLogo {
        margin-top: 10px;
    }
    #currentTime {
        margin-top: 0;
    }
}
/* These rules take effect when the browser's width */
/* is either 768px or more. */
@media screen and (min-width: 768px) {
    /* The body's bg color will be #e803fc */
    body {
      background-color: #e803fc;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
        line-height: 150%;
        text-align: justify;
    }

    .logoImage {
        width: 350px;
        height: 80px;
    }

    .form-group,
    .form-control {
        font-size: 12px;
    }
    .navLogo {
        margin-top: 0;
    }
    #currentTime {
        margin-top: 30px;
    }
}
/* These rules take effect when the browser's width */
/* is either 992px or more. */
@media screen and (min-width: 992px) {
    /* The body's bg color will be #03fcf2 */
    body {
      background-color: #03fcf2;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 18px;
        line-height: 150%;
        text-align: justify;
    }

    .logoImage {
        width: 400px;
        height: 90px;
    }

    .form-group,
    .form-control {
        font-size: 15px;
    }
    .navLogo {
        margin-top: 0;
    }
    #currentTime {
        margin-top: 30px;
    }
}

/* Extra small (xs) devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large (lg) devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  background-image: url('./images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
  background-color: rgba(10,10,10,0.3);
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 60px 0 60px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

li a {
  padding: 5px;
  text-decoration: none;;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
 }

.cart a {
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.container,
.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.addToCart {
  position: absolute;
  width: 100%;
  background-color: darkgrey;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5 {
  bottom: 120px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

/* ----------------- CART PAGE --------------- */

.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product ion-icon {
  cursor: pointer;
  
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media(max-width: 500px) {
  nav h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;;
  }

  .sm-hide {
      display: none;;
  }

  .products,
  .product-header {
      justify-content: center;
  }

  .basketTotalContainer {
      padding-right: 8%;
  }
}

span{
    color: #ffffff;
}

a.addToCart{
    color: #ffffff;
}

.heading2.text-center h3 {
    text-align: center;
}

.quantity>span {
    /* background: red; */
    color: gray;
}