.backgroundImg {
    /*background-image: url(../../assets/images/landingpagebackgroundimg.jpg);*/
    background-size:     cover;                  
    background-repeat:   no-repeat;
    background-position: center center;
}

.landingJumbo {
    width: 60%;
    background-color: #52556C !important;
}

.cardBackground{
    background-color: rgb(231, 248, 255)!important;
}


.jumboText {
    color: black;
}

.companyName {
    font-size: 5vw;
}

.companySlogan {
    font-size: 3vw;
}

.fa-stack {
    vertical-align: top;
    color: grey
}

.facebookLogo:hover {
    color: #4267b2 !important;
}

.twitterLogo:hover {
    color: #1da1f2 !important;
}

.instagramLogo:hover {
    color: #f09433; 
}

.linkedinLogo:hover {
    color: #0073b0 !important;
}

.googleLogo:hover {
    color: #dc5246 !important;
}

.heading2 h3{
    text-align: center;
}

.nab-link{
    color: #ffffff;
}

.nab-link:hover{
    color: #001f3f;
    text-decoration: none;
}

footer{
    background-color: #52556C ;
    color: #ffffff;
}

.heading2 span{
    color:red;
    font-weight: bold;
}